/* Nav */
.nav {
	display: flex;
	padding: 0;
	margin: 0;
  margin-left: 1em;
	list-style: none;
  font-size: 1.5em;
}
.nav-item {
	display: inline-block;
	margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	text-decoration: underline;
}
