---
layout: layouts/home.njk
eleventyNavigation:
  key: Posts
  order: 2
---
<h1>Posts</h1>

<p><a href="/tags/">Browse by tags</a>.</p>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
