---
layout: layouts/home.njk
eleventyNavigation:
  key: home
  order: 1
numberOfLatestPostsToShow: 5
---

{# <div class="message-box">

	<p> #}
    <div class="cards">
      <div class="medium-card">
        <div class="blurb-container">
          <div class="blurb-text">
            <p><b><i>Hi, I'm Yorick!</i></b></p>
            <p>
            I act, write, and make comedy.
            I create my own comedy sketches from script to screen.
            I love stories and the silly things in life.
          </div>
          <div class="blurb-img">
            <div class="blurb-img-row">
              <div class="blurb-img-column">
                <img src="_includes/assets/portrait4.png" height=150px>
              </div>
              <div class="blurb-img-column">
                <img src="_includes/assets/portrait3.png" height=150px>
              </div>
              <div class="blurb-img-column">
                <img src="_includes/assets/portrait2.png" height=150px>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </p>
{# </div> #}

<hr>


{% include "./tags-list.njk" %}

{# {% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h2>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h2>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/blog/">the archive</a>.</p>
{% endif %} #}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
