{# Links to socials #}
<div>
  <ul class="socials">
    <li class="socials-item">
      <a href="https://www.youtube.com/@AlasPoorComedy">YouTube</a>
    </li>
    <li class="socials-item">
      <a href="/feed/feed.xml">RSS</a>
    </li>
  </ul>
</div>
