<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">

		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

		{#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
		{#- <meta name="generator" content="{{ eleventy.generator }}"> #}

    {% include "styling.njk" %}

	</head>
	<body>
		<a href="#skip" class="visually-hidden">Skip to main content</a>

		<header>
      {% include "header.njk" %}
		</header>

		<main id="skip">
			{{ content | safe }}
		</main>

		<footer>
      {% include "footer.njk" %}
    </footer>

		<!-- Current page: {{ page.url | htmlBaseUrl }} -->
	</body>
</html>
